# Shared Hyper-V and VM defaults.
HYPERV_SWITCH_NAME=External Virtual Switch
VM_CPUS=2
VM_MEMORY=2048

# Ubuntu base box and baseline host identity.
UBUNTU_BOX=bento/ubuntu-22.04
VM_NAME=ubuntu
VM_IP=192.168.1.190

# Ansible SSH defaults.
ANSIBLE_SSH_USER=vagrant
ANSIBLE_PRIVATE_KEY_PATH=~/.vagrant.d/insecure_private_key
